# Python, UV, Ruff, Hatchling, PyTest things
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Editor
.zed/

# There is not need to include the uv.lock file since versions and dependencies
# version should be locked only for the application package, see:
# https://github.com/astral-sh/uv/issues/10730
uv.lock
